body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: medium;
    font-style: normal;
    font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
}

.container {
    margin: 1 auto;
    max-width: 380px;
    height: 450px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 36px;
    border: 2px solid #cccccc8e;
    border-radius: 5px;
    box-shadow: none;
}

.large {
    display: inline-block;
    font-size: 24px;
    transform:scale(1,1);
    font-family: Google Sans,Noto Sans Myanmar UI,arial,sans-serif ;
    color:rgb(32, 33, 36);
    padding-bottom:12px;
    padding-top:16px;
    margin-bottom:0;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.33333;
    text-align: center;
    
}

.yl {
    color: rgb(32, 33, 36);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 15px;
    text-align: center;
    font:roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 20px;
}


input, select {
    padding: 15px;
    width: 100%;
    max-height: 125px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
}
  

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 2px solid #5f6368;
    border-radius: 2px;
    outline: 1px;
    cursor: pointer;
    position: relative;
    text-align: left;
    margin-top: 20px;
    padding:8px 0 0;
}

.got {
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;

}
.next{
    font-size: small;
    font-weight: 100;
}
.next:hover{
    background-color: rgb(1, 1, 211);
    transform:translateY(-2px);
}

button {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #0478f4;
    color: #fff;
    /* top:50%; */
    height: 35.99px;
    width: 79.16px;
    border-radius: 3px;
    cursor: pointer;
    align-items: end;
    float: right;
    border:0px;
    
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 52px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
   margin-bottom: 11px;
    margin-top: 32px;
}
  
::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 38px;
    left: 14px;
    padding: 12px 4px;
    background-color: white;
    color: #5f6368;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}
  
.input:focus + .label {
    top: 11px;
    left: 5px;
    z-index: 10;
    font-size: 14px;
    font-weight: 100;
    color:blue;
}
  
.input:focus {
    border: 2px solid blue;
}
  
.input:not(:placeholder-shown)+ .label {
  top: 10px;
  left: 5px;
  z-index: 10;
  font-size: 14px;
  font-weight: 100;
}

.error-message {
    color: red;
}

.error-border {
    border: 1px solid red;
}

.strong-password {
    border: 2px solid rgb(58, 176, 58);
}

#messageDiv{
    margin-top: 45px;
    text-align: left;
}

#password-dropdown {
    top: 160%; /* Adjust the top position according to your needs */
    display: none;
    border: 1px solid #ccc;
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 111%; /* Set the width to 100% */
    background-color: #f0eded;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for a popup effect */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  }
  
.suggestion {
    padding: 8px;
    cursor: pointer;
}
  
.suggestion:hover {
    background-color: #f1f1f1;
}